<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Style/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        .imgbook {
            transition: all 1s ease-in;
            width: 400px;
        }

            .imgbook:hover {
                transform: scale(0.9);
                cursor: pointer;
            }

        .imgsachbannhieu {
            width: 100px;
        }
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>
    <!--Nav-->
    <nav class="navbar navbar-inverse">
        <!--navbar-fixed-top-->
        @Html.Partial("_NavPartialView")
        <!-- /.container-->
    </nav>
    <!--End-Nav-->

    
    <!--Phần tìm kiếm-->
    
    <!--Phần Slide-->
    <div class="container">
        @Html.Partial("_SlidePartiaView")
    </div>
    <!--End-Phần Slide-->
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <ul class="list-group">
                    @Html.Action("ChuDePartialView", "SachOnline")
                    @Html.Action("NXBPartialView", "SachOnline")
                </ul>

            </div>
            @RenderBody()
        </div>

        
        <hr>
    </div>
        <!-- /.container-->
        <!--Sách bán nhiều-->
        <div class="container">
            @RenderSection("SachBanNhieu", required: false)

        </div>
        <!-- /.container-->
        <!--Footer-->
        @Html.Partial("_FooterPartialView")
        <!--End-Footer-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <script src="~/Style/js/bootstrap.js"></script>
        <a href="~/Style/js/jquery-1.11.3"></a>
        <script src="~/Style/js/jquery-1.11.3.min.js"></script>
</body>
</html>
